/* reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

/* font */
body {
    font-family: 'Rubik Mono One', sans-serif;
}

/* menu */

.menu {
    line-height: 150px;
    width: 100%;
    /* elimino stile lista */
    list-style: none;
    text-align: right;
    position: fixed;
    z-index: 5;
}
/* li appartenenti a menu */
.menu li {
    display: inline-block;
    height: 100%;
    /* trasformo la list in "orizzontale" */
}

/* a appartenenti a menu */
.menu a {
    display: inline-block;
    /* elimino decorazione link */
    text-decoration: none;
    /* testo link */
    text-align: center;
    color: black;
    /*  */
    line-height: 50px;
    width: 50px;
    background-color: white;
    border-radius: 50%;
    margin: 0 20px;
    border: 1px solid black;
}

/* MAIN */
#red,
#green,
#yellow {
    height: 100vh;
    width: 100%;
    position: relative;
    color: yellow;
}

#red {
    background-color: red;
}
#green {
    background-color: green;
}
#yellow {
    background-color: yellow;
    color: green;
}


h1 {
    text-transform: uppercase;
    text-align: center;
    font-size: 50px;
}

.content img {
    width: 100%;
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}